/*Fonts*/
@import url("http://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.mb10 {
  margin-bottom: 10px;
}

.mlr5 {
  margin: 0 5px;
}

.mt50 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.bg-red {
  background-color: #ff3333 !important;
}

.blue-text {
  color: #007bff;
}

body {
  font-family: "Roboto", sans-serif;
  background: #013;
}

p {
  font-weight: 300;
}

.btn-primary, .btn-secondary {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 5px 10px 3px 10px;
  letter-spacing: 1px;
}

.login-btn {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 5px 10px 3px 10px;
  letter-spacing: 1px;
}

.search-input {
  line-height: 1.2;
}

.user-welcome {
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.navbar-dark .navbar-toggler {
  border-color: unset;
  color: unset;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.ui-menu {
  background: #00040c;
  padding: 20px 40px;
  width: 250px !important;
}

.ui-menu-item {
  color: #007bff;
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
}

.ui-menu-item:hover {
  color: #fff;
}

.ui-helper-hidden-accessible {
  position: absolute;
  left: -9999px;
}

.selected-movie h4 {
  font-size: 2rem;
  color: #fff;
}

.movie .poster-image {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease;
}
.movie .movie-title-container {
  background: #000;
  min-height: 60px;
  border-radius: 5px;
  padding: 10px;
  margin: -3px 0 30px 0;
  color: #fff;
  display: table;
  width: 100%;
  text-align: center;
}
.movie .movie-title-container .overview {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 34px;
  width: 42px;
  display: table-cell;
  vertical-align: middle;
}
.movie .movie-title {
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0 0 10px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.movie .movie-title:hover {
  color: #007bff;
}
.movie p.release {
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin: 0 0 0 13px;
  position: relative;
  top: -9px;
  left: -14px;
  width: 100.5%;
  color: #fff;
  background: #000;
  padding: 7px 10px;
  border-radius: 0 0 10px 10px;
  font-weight: 100;
  text-align: center;
}
.movie .center {
  position: absolute;
  top: 40%;
  left: 42%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
.movie .heart {
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  opacity: 0;
}
.movie .heart::before, .movie .heart::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
}
.movie .heart::before {
  left: -25px;
  background-color: #fff;
}
.movie .heart::after {
  top: -25px;
  background-color: #fff;
}
.movie:hover .heart {
  opacity: 1;
}
.movie:hover .poster-image {
  opacity: 0.6;
}

form .error {
  color: red;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .movie p {
    font-size: 0.8rem;
  }
  .movie .movie-title {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 991px) {
  .movie p {
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-align: left;
  }
  .movie .movie-title {
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-align: left;
  }
  .movie .movie-title-container .overview {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 3px;
    height: 25px;
    width: 25px;
    display: block;
    float: right;
  }
  .selected-movie h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .movie p {
    font-size: 0.6rem;
    letter-spacing: 0;
    text-align: center;
  }
  .movie .movie-title {
    font-size: 0.7rem;
    text-align: center;
  }
  .movie .movie-title-container .overview {
    display: none;
  }
  nav .user-welcome {
    display: none;
  }
  .search-input {
    width: 60%;
    margin-left: 0 !important;
  }
  .selected-movie h4 {
    font-size: 1.4rem;
  }
  .selected-movie .to-right img {
    width: 95%;
  }
  .login-btn {
    margin-left: 0;
    margin-top: 8px;
  }
  .search-input {
    margin-top: 5px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding-right: 105px;
    padding-left: 105px;
  }
  .movie p {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .movie .movie-title {
    font-size: 1.1rem;
    text-align: center;
  }
  .search-input {
    width: 40%;
  }
  .selected-movie h4 {
    margin-top: 15px;
    text-align: center;
  }
  .selected-movie .to-right img {
    width: 100%;
  }
}
@media screen and (max-width: 469px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
